name: Push to Docker Hub

on:
    push:
        branches: [ "main" ]

jobs:
  build_and_push_to_docker_image:
    name: Push Docker image to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v6
      
      - name: Log in to Docker Hub 
        uses: docker/login-action@v3
        with: 
          username: ${{secrets.DOCKER_USERNAME}}
          password: ${{secrets.DOCKER_PASSWORD}}
          
      - name: Extract metadata (tags, labels) for Docker
        id: meta
        uses: docker/metadata-action@v5
        with:
          images: ${{secrets.DOCKER_USERNAME}}/html_nginx_2

      - name: print ${{steps.meta.outputs.tags}}
        run: echo "Build Docker- ${{toJSON(steps.meta)}}"

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          repository: ${{secrets.DOCKER_USERNAME}}/html_nginx
          tags: ${{steps.meta.outputs.tags}}
          labels: ${{steps.meta.outputs.labels}}      