name: Workflows, Jobs, and Steps

on: [push]

jobs:
  job-1: ### Linux List all files
    runs-on: ubuntu-24.04
    steps:
      - name: List all files in the repository (Linux/macOS)
        run: echo "A job-1 running..."
      
      - name: Create a text file and write content
        run: echo "Hello text!" > filename.txt

      - name: List all files in the repository (Linux/macOS)
        run: ls && cat filename.txt
  job-2: ### GitHub List all repo files
    runs-on: ubuntu-24.04
    steps:
      - name: Checkout Repo
        uses: actions/checkout@v6
        
      - name: List github file
        run: ls
  job-3: ##
    runs-on: ubuntu-24.04
    steps:
      - name: Hello job-3
        run: echo "A job-3 running..."
  job-say-hello-inline-python: ##
    runs-on: ubuntu-24.04
    steps:
      - name: Hello job-4
        run: print("A job job-say-hello-inline-python from python shel script!")
        shell: python
