name: Workflows-Jobs-and-Steps

on: [push]

jobs:
  job-build: # downloading-code-from-the-GitHub-servers-onto-this-virtual-machine
    runs-on: ubuntu-24.04
    steps:
     
      - name: Sleep for 30 seconds
        run: sleep 10

  job-test: #GitHub-List-all-repo-files:
    needs: [job-build]
    runs-on: ubuntu-24.04
    steps:
      - name: Sleep for 10 seconds
        run: sleep 5
      
      - name: Checkout Repo
        uses: actions/checkout@v6 #The command uses: actions/checkout@v4 (or v6) is the act of downloading your code from the GitHub servers onto that virtual machine.

      - name: Executing Shell Script
        run: |
          chmod +x example_shell_script.sh
          ./example_shell_script.sh

  job-deploy: #Linux-List-all-files: 
    needs: [job-test]
    runs-on: ubuntu-24.04
    steps:
      - name: Create a text file and write content
        run: echo "Hello text!" > filename.txt

      - name: List all files in the virtual machine (Linux/macOS)
        run:  |
          pwd
          ls  -ltra && cat filename.txt

  job-complete-python-shell-script: ##
    needs: [job-build, job-test, job-deploy]
    runs-on: ubuntu-24.04
    steps:
      - name: job-complete-python-shell-script
        run: print("A jobs of Build, Test and Deploy is complete! (execut by python shell script)")
        shell: python
