name: CI Pipline

on: [push]

jobs:
  # push_to_docker_registry:
  #   name: Push Docker image to Docker Hub
  #   runs-on: ubuntu-24.04
  #   steps:
  #     - name: Check out the repo
  #       uses: actions/checkout@v6
      
  #     - name: Log in to Docker Hub 
  #       uses: docker/login-action@v3
  #       with: 
  #         username: ${{secrets.DOCKER_USERNAME}}
  #         password: ${{secrets.DOCKER_PASSWORD}}
          
  #     - name: Extract metadata (tags, labels) for Docker
  #       id: meta
  #       uses: docker/metadata-action@v5
  #       with:
  #         images: ranitzahak/test_web_app

  #     - name: Build and push Docker image
  #       uses: docker/build-push-action@v6
  #       with:
  #         context: .
  #         push: true
  #         tags: ${{steps.meta.outputs.tags}}
  #         labels: ${{steps.meta.outputs.labels}}

  build: 
    name: Build Docker image to Push Docker Hub
    runs-on: ubuntu-24.04
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      
      - name: Build and push Docker image by script
        run: |
          # 1. Build the image
          docker build -t webapp_ci_github_action .
          
          
          # 2. Login using the secure pipe method (Fixes the TTY error)
          echo "${{ secrets.DOCKER_ACCESS_TOKEN }}" | docker login -u "${{ secrets.DOCKER_USERNAME }}" --password-stdin
          
          # 3. Tag and Push
          docker tag webapp_ci_github_action ranitzahak/ci_pipline_github_action
          docker push ranitzahak/ci_pipline_github_action


  test: #GitHub-List-all-repo-files:
    runs-on: ubuntu-24.04
    steps:
      
      - name: Checkout Repo
        uses: actions/checkout@v6 #The command uses: actions/checkout@v4 (or v6) is the act of downloading your code from the GitHub servers onto that virtual machine.

      - name: Executing Shell Script
        run: |
          chmod +x example_shell_script.sh
          ./example_shell_script.sh

  deploy: #Linux-List-all-files: 
    
    runs-on: ubuntu-24.04
    steps:
      - name: Create a text file and write content
        run: echo "Hello text!" > filename.txt

      - name: List all files in the virtual machine (Linux/macOS)
        run:  |
          pwd
          ls  -ltra && cat filename.txt

  job-complete-python-shell-script: ##
    # needs: [job-build, job-test, job-deploy]
    runs-on: ubuntu-24.04
    steps:
      - name: job-complete-python-shell-script
        run: print("A jobs of Build, Test and Deploy is complete! (execut by python shell script)")
        shell: python
