name: Workflows, Jobs, and Steps

on: [push]

jobs:
  job-1: ###
    runs-on: ubuntu-24.04
    steps:
      - name: Hello job-1
        run: echo "A job-1 running..."
      - name: Create a file
        run: touch _file.txt
      - name: List all files in the repository (Linux/macOS)
        run: ls 
  job-2: ###
    runs-on: ubuntu-24.04
    steps:
      - name: Hello job-2
        run: echo "A job-2 running..."
  job-3: ##
    runs-on: ubuntu-24.04
    steps:
      - name: Hello job-3
        run: echo "A job-3 running..."
  job-say-hello-inline-python: ##
    runs-on: ubuntu-24.04
    steps:
      - name: Hello job-4
        run: print("A job job-say-hello-inline-python from python shel script!")
        shell: python
